openapi: 3.0.3
info:
  title: LetsPeppol Proxy API
  description: |
    Proxy API for LetsPeppol e-invoicing document management.
    This service handles UBL document sending/receiving, registry management, and monitoring.
  version: 1.0.0
  contact:
    name: LetsPeppol
    url: https://letspeppol.org

servers:
  - url: https://proxy.letspeppol.org
    description: Production server

tags:
  - name: Documents
    description: UBL document management and transmission
  - name: Registry
    description: Peppol registry and access point management
  - name: Monitoring
    description: Service monitoring and health checks

paths:
  /sapi/document:
    get:
      tags:
        - Documents
      summary: Get new documents
      description: Retrieves all new received documents for authenticated user
      operationId: getAllNewDocuments
      security:
        - bearerAuth: []
      parameters:
        - name: size
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: List of new documents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UblDocumentDto'

    post:
      tags:
        - Documents
      summary: Create document to send
      description: Creates a new UBL document for sending
      operationId: createDocument
      security:
        - bearerAuth: []
      parameters:
        - name: noArchive
          in: query
          schema:
            type: boolean
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UblDocumentDto'
      responses:
        '201':
          description: Document created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UblDocumentDto'

  /sapi/document/status:
    post:
      tags:
        - Documents
      summary: Get status updates
      description: Retrieves status updates for specified document IDs
      operationId: getStatusUpdates
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: uuid
      responses:
        '200':
          description: Document status updates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UblDocumentDto'

  /sapi/document/{id}:
    get:
      tags:
        - Documents
      summary: Get document by ID
      description: Retrieves a specific document by UUID
      operationId: getDocumentById
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Document details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UblDocumentDto'
        '404':
          description: Document not found

    put:
      tags:
        - Documents
      summary: Update document
      description: Updates an existing document
      operationId: updateDocument
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: noArchive
          in: query
          schema:
            type: boolean
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UblDocumentDto'
      responses:
        '200':
          description: Document updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UblDocumentDto'

    delete:
      tags:
        - Documents
      summary: Cancel document
      description: Cancels a pending document
      operationId: deleteDocument
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: noArchive
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: Document cancelled

  /sapi/document/{id}/send:
    put:
      tags:
        - Documents
      summary: Reschedule document sending
      description: Reschedules a document for sending
      operationId: rescheduleDocument
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UblDocumentDto'
      responses:
        '202':
          description: Document rescheduled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UblDocumentDto'

  /sapi/document/{id}/downloaded:
    put:
      tags:
        - Documents
      summary: Mark document as downloaded
      description: Marks a received document as downloaded
      operationId: markDownloaded
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: noArchive
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: Document marked as downloaded

  /sapi/document/downloaded:
    put:
      tags:
        - Documents
      summary: Mark multiple documents as downloaded
      description: Marks multiple received documents as downloaded
      operationId: markDownloadedBatch
      security:
        - bearerAuth: []
      parameters:
        - name: noArchive
          in: query
          schema:
            type: boolean
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: uuid
      responses:
        '204':
          description: Documents marked as downloaded

  /sapi/registry:
    get:
      tags:
        - Registry
      summary: Get registry information
      description: Retrieves registry information for authenticated user's Peppol ID
      operationId: getRegistry
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Registry information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryDto'

    post:
      tags:
        - Registry
      summary: Register on Access Point
      description: Registers Peppol ID on the Access Point
      operationId: registerOnAP
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationRequest'
      responses:
        '200':
          description: Registration successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryDto'

    delete:
      tags:
        - Registry
      summary: Remove from registry
      description: Removes Peppol ID from registry
      operationId: deleteRegistry
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Registry entry removed

  /sapi/registry/unregister:
    put:
      tags:
        - Registry
      summary: Unregister from Access Point
      description: Unregisters Peppol ID from the Access Point
      operationId: unregisterFromAP
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Unregistration successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryDto'

  /api/monitor:
    get:
      tags:
        - Monitoring
      summary: Health check
      description: Simple health check endpoint
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            text/plain:
              schema:
                type: string
                example: ok

  /api/monitor/{amount}:
    get:
      tags:
        - Monitoring
      summary: Top up balance
      description: Increments balance by specified amount (monitoring/testing)
      operationId: topUpBalance
      parameters:
        - name: amount
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Balance updated
          content:
            text/plain:
              schema:
                type: string
                example: balance = 1000

  /api/e-invoice:
    post:
      tags:
        - Documents
      summary: Receive e-invoice
      description: Endpoint for receiving e-invoices from external systems
      operationId: receiveEInvoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UblDocumentDto'
      responses:
        '200':
          description: E-invoice received

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    UblDocumentDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        ownerPeppolId:
          type: string
          example: "0208:BE0123456789"
        counterPartyPeppolId:
          type: string
          example: "0208:BE0987654321"
        counterPartyName:
          type: string
        ubl:
          type: string
          description: UBL XML content
        direction:
          type: string
          enum: [INCOMING, OUTGOING]
        status:
          type: string
          enum: [NEW, DOWNLOADED, SENT, FAILED, CANCELLED]
        documentType:
          type: string
          enum: [INVOICE, CREDIT_NOTE]
        amount:
          type: number
          format: double
        currency:
          type: string
          example: EUR
        invoiceId:
          type: string
        issueDate:
          type: string
          format: date-time
        dueDate:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        scheduledAt:
          type: string
          format: date-time
        sentAt:
          type: string
          format: date-time

    RegistryDto:
      type: object
      properties:
        peppolId:
          type: string
        accessPoint:
          type: string
          enum: [NONE, SCRADA, E_INVOICE]
        registered:
          type: boolean
        registeredAt:
          type: string
          format: date-time

    RegistrationRequest:
      type: object
      required:
        - registrationData
      properties:
        registrationData:
          type: object
          description: Access Point specific registration data
