openapi: 3.0.3
info:
  title: LetsPeppol KYC API
  description: |
    Know-Your-Customer API for LetsPeppol authentication and identity verification.
    This service handles user registration, authentication, and Belgian identity card verification.
  version: 1.0.0
  contact:
    name: LetsPeppol
    url: https://letspeppol.org

servers:
  - url: https://kyc.letspeppol.org
    description: Production server

tags:
  - name: Authentication
    description: JWT token generation and authentication
  - name: Registration
    description: Company registration and email verification
  - name: Identity Verification
    description: eID-based identity verification and contract signing
  - name: Company
    description: Company information and management
  - name: Password
    description: Password management and reset

paths:
  /api/jwt/auth:
    post:
      tags:
        - Authentication
      summary: Generate JWT token
      description: Authenticates a user using Basic authentication and returns a JWT token
      operationId: authenticate
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Basic authentication header (Base64 encoded email:password)
          schema:
            type: string
            example: Basic dXNlckBleGFtcGxlLmNvbTpwYXNzd29yZDEyMw==
      responses:
        '200':
          description: JWT token generated successfully
          content:
            text/plain:
              schema:
                type: string
                example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        '401':
          description: Unauthorized - Invalid credentials
          content:
            text/plain:
              schema:
                type: string
                example: Missing or invalid Authorization header

  /api/register/company/{peppolId}:
    get:
      tags:
        - Registration
      summary: Get company information
      description: Retrieves company information based on Peppol ID (VAT number) - Registration step 1
      operationId: getCompany
      parameters:
        - name: peppolId
          in: path
          required: true
          description: Peppol ID (converted VAT number)
          schema:
            type: string
            example: "0208:BE0123456789"
      responses:
        '200':
          description: Company information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
        '404':
          description: Company not found

  /api/register/confirm-company:
    post:
      tags:
        - Registration
      summary: Confirm company and send verification email
      description: Sends verification email to confirm email address - Registration step 2
      operationId: confirmCompany
      parameters:
        - name: Accept-Language
          in: header
          required: false
          schema:
            type: string
            example: en
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmCompanyRequest'
      responses:
        '200':
          description: Activation email sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleMessage'

  /api/register/verify:
    post:
      tags:
        - Registration
      summary: Verify email token
      description: Verifies email address and returns company information with directors - Registration step 3
      operationId: verifyToken
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Token verified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenVerificationResponse'

  /api/identity/sign/prepare:
    post:
      tags:
        - Identity Verification
      summary: Prepare document for signing
      description: Generates contract hashes for Web eID signing - Registration step 4
      operationId: prepareSign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepareSigningRequest'
      responses:
        '200':
          description: Signing preparation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepareSigningResponse'

  /api/identity/contract/{directorId}:
    get:
      tags:
        - Identity Verification
      summary: Get contract PDF
      description: Generates contract for selected director - Registration step 5
      operationId: getContract
      parameters:
        - name: directorId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Contract PDF
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /api/identity/sign/finalize:
    post:
      tags:
        - Identity Verification
      summary: Finalize document signing
      description: Completes the signing process with Web eID certificate - Registration step 6
      operationId: finalizeSign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinalizeSigningRequest'
      responses:
        '200':
          description: Signed contract PDF
          headers:
            Registration-Status:
              schema:
                type: string
                enum: [OK, FAILED, CONFLICT, SUSPENDED, UNKNOWN]
            Registration-Provider:
              schema:
                type: string
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /sapi/company:
    get:
      tags:
        - Company
      summary: Get account information
      description: Retrieves account info based on JWT token
      operationId: getAccountInfo
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Account information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfo'

  /sapi/company/search:
    get:
      tags:
        - Company
      summary: Search companies
      description: Search for companies by VAT number, Peppol ID, or name
      operationId: searchCompanies
      security:
        - bearerAuth: []
      parameters:
        - name: vatNumber
          in: query
          schema:
            type: string
        - name: peppolId
          in: query
          schema:
            type: string
        - name: companyName
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanySearchResponse'

  /sapi/company/peppol/register:
    post:
      tags:
        - Company
      summary: Register on Peppol Directory
      description: Registers Peppol ID on the Peppol Directory and Access Point
      operationId: registerPeppol
      security:
        - bearerAuth: []
      responses:
        '200':
          description: New JWT token with updated status
          content:
            text/plain:
              schema:
                type: string
        '204':
          description: Already registered
        '409':
          description: Conflict - Already registered with different provider
        '424':
          description: Failed dependency - Access Point registration failed
        '429':
          description: Service unavailable - Try again later
        '403':
          description: Account suspended

  /sapi/company/peppol/unregister:
    post:
      tags:
        - Company
      summary: Unregister from Peppol Directory
      description: Unregisters Peppol ID from the Peppol Directory and Access Point
      operationId: unregisterPeppol
      security:
        - bearerAuth: []
      responses:
        '200':
          description: New JWT token with updated status
          content:
            text/plain:
              schema:
                type: string
        '204':
          description: Already unregistered
        '424':
          description: Failed dependency - Access Point unregistration failed

  /sapi/company/signed-contract:
    get:
      tags:
        - Company
      summary: Download signed contract
      description: Downloads the signed contract PDF
      operationId: getSignedContract
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Signed contract PDF
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /api/password/forgot:
    post:
      tags:
        - Password
      summary: Request password reset
      description: Sends password recovery email
      operationId: forgotPassword
      parameters:
        - name: Accept-Language
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '204':
          description: Password reset email sent

  /api/password/reset:
    post:
      tags:
        - Password
      summary: Reset password
      description: Changes password using reset token from email
      operationId: resetPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '204':
          description: Password reset successfully

  /sapi/password/change:
    post:
      tags:
        - Password
      summary: Change password
      description: Changes password for authenticated user
      operationId: changePassword
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '204':
          description: Password changed successfully

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    CompanyResponse:
      type: object
      properties:
        peppolId:
          type: string
          example: "0208:BE0123456789"
        vatNumber:
          type: string
          example: "BE0123456789"
        name:
          type: string
          example: "Example Company BVBA"
        street:
          type: string
          example: "Main Street 123"
        city:
          type: string
          example: "Brussels"
        postalCode:
          type: string
          example: "1000"

    ConfirmCompanyRequest:
      type: object
      required:
        - peppolId
        - email
        - name
        - password
      properties:
        peppolId:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        password:
          type: string
          format: password

    SimpleMessage:
      type: object
      properties:
        message:
          type: string

    TokenVerificationResponse:
      type: object
      properties:
        company:
          $ref: '#/components/schemas/CompanyResponse'
        directors:
          type: array
          items:
            $ref: '#/components/schemas/Director'

    Director:
      type: object
      properties:
        id:
          type: integer
          format: int64
        firstName:
          type: string
        lastName:
          type: string
        birthDate:
          type: string
          format: date

    PrepareSigningRequest:
      type: object
      required:
        - token
        - directorId
        - certificate
      properties:
        token:
          type: string
        directorId:
          type: integer
          format: int64
        certificate:
          type: string
          description: Base64 encoded certificate

    PrepareSigningResponse:
      type: object
      properties:
        dataToSign:
          type: string
        digestAlgorithm:
          type: string

    FinalizeSigningRequest:
      type: object
      required:
        - token
        - directorId
        - signature
      properties:
        token:
          type: string
        directorId:
          type: integer
          format: int64
        signature:
          type: string
          description: Base64 encoded signature

    AccountInfo:
      type: object
      properties:
        peppolId:
          type: string
        vatNumber:
          type: string
        name:
          type: string
        street:
          type: string
        city:
          type: string
        postalCode:
          type: string
        accountName:
          type: string
        email:
          type: string
          format: email

    CompanySearchResponse:
      type: object
      properties:
        peppolId:
          type: string
        name:
          type: string
        vatNumber:
          type: string

    ForgotPasswordRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email

    ResetPasswordRequest:
      type: object
      required:
        - token
        - newPassword
      properties:
        token:
          type: string
        newPassword:
          type: string
          format: password

    ChangePasswordRequest:
      type: object
      required:
        - oldPassword
        - newPassword
      properties:
        oldPassword:
          type: string
          format: password
        newPassword:
          type: string
          format: password
