openapi: 3.0.3
info:
  title: LetsPeppol App API
  description: |
    Application API for LetsPeppol e-invoicing management.
    This service provides document management, partner management, product catalog, and company information.
  version: 1.0.0
  contact:
    name: LetsPeppol
    url: https://letspeppol.org

servers:
  - url: https://app.letspeppol.org
    description: Production server

tags:
  - name: Documents
    description: Invoice and document management
  - name: Company
    description: Company information and settings
  - name: Partners
    description: Business partner management
  - name: Products
    description: Product and service catalog
  - name: Product Categories
    description: Product category hierarchy
  - name: Statistics
    description: Statistics and analytics
  - name: Peppol Directory
    description: Search Peppol Directory

paths:
  /sapi/document/validate:
    post:
      tags:
        - Documents
      summary: Validate UBL XML
      description: Validates UBL XML content against schema
      operationId: validateDocument
      requestBody:
        required: true
        content:
          text/xml:
            schema:
              type: string
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResultDto'
        '400':
          description: Missing XML content

  /sapi/document:
    get:
      tags:
        - Documents
      summary: List documents
      description: Retrieves paginated list of documents with filtering
      operationId: listDocuments
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [INVOICE, CREDIT_NOTE]
        - name: direction
          in: query
          schema:
            type: string
            enum: [INCOMING, OUTGOING]
        - name: partnerName
          in: query
          schema:
            type: string
        - name: invoiceReference
          in: query
          schema:
            type: string
        - name: paid
          in: query
          schema:
            type: boolean
        - name: read
          in: query
          schema:
            type: boolean
        - name: draft
          in: query
          schema:
            type: boolean
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 20
        - name: sort
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Paginated document list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponseDocumentDto'

    post:
      tags:
        - Documents
      summary: Create document
      description: Creates a new document from UBL XML
      operationId: createDocument
      security:
        - bearerAuth: []
      parameters:
        - name: draft
          in: query
          schema:
            type: boolean
            default: false
        - name: schedule
          in: query
          schema:
            type: string
            format: date-time
      requestBody:
        required: true
        content:
          text/xml:
            schema:
              type: string
      responses:
        '200':
          description: Document created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDto'

  /sapi/document/{id}:
    get:
      tags:
        - Documents
      summary: Get document by ID
      description: Retrieves a specific document
      operationId: getDocument
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Document details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDto'

    put:
      tags:
        - Documents
      summary: Update document
      description: Updates an existing document
      operationId: updateDocument
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: draft
          in: query
          schema:
            type: boolean
            default: false
        - name: schedule
          in: query
          schema:
            type: string
            format: date-time
      requestBody:
        required: true
        content:
          text/xml:
            schema:
              type: string
      responses:
        '200':
          description: Document updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDto'

    delete:
      tags:
        - Documents
      summary: Delete document
      description: Deletes a document
      operationId: deleteDocument
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Document deleted

  /sapi/document/{id}/send:
    put:
      tags:
        - Documents
      summary: Send document
      description: Sends a draft document
      operationId: sendDocument
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: schedule
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Document sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDto'

  /sapi/document/{id}/read:
    put:
      tags:
        - Documents
      summary: Mark document as read
      description: Marks a document as read
      operationId: markDocumentRead
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Document marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDto'

  /sapi/document/{id}/paid:
    put:
      tags:
        - Documents
      summary: Mark document as paid
      description: Marks an invoice as paid
      operationId: markDocumentPaid
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Document marked as paid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDto'

  /sapi/company:
    get:
      tags:
        - Company
      summary: Get company information
      description: Retrieves company information for authenticated user
      operationId: getCompany
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Company information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDto'

    put:
      tags:
        - Company
      summary: Update company information
      description: Updates company information
      operationId: updateCompany
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyDto'
      responses:
        '200':
          description: Company updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDto'

  /sapi/partner:
    get:
      tags:
        - Partners
      summary: List partners
      description: Retrieves list of business partners
      operationId: listPartners
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of partners
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PartnerDto'

    post:
      tags:
        - Partners
      summary: Create partner
      description: Creates a new business partner
      operationId: createPartner
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerDto'
      responses:
        '200':
          description: Partner created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerDto'

  /sapi/partner/search:
    get:
      tags:
        - Partners
      summary: Search partners
      description: Searches for partners by Peppol ID
      operationId: searchPartners
      security:
        - bearerAuth: []
      parameters:
        - name: peppolId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PartnerDto'

  /sapi/partner/{id}:
    put:
      tags:
        - Partners
      summary: Update partner
      description: Updates a business partner
      operationId: updatePartner
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerDto'
      responses:
        '200':
          description: Partner updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerDto'

    delete:
      tags:
        - Partners
      summary: Delete partner
      description: Deletes a business partner
      operationId: deletePartner
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: Partner deleted

  /sapi/product:
    get:
      tags:
        - Products
      summary: List products
      description: Retrieves list of products
      operationId: listProducts
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of products
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductDto'

    post:
      tags:
        - Products
      summary: Create product
      description: Creates a new product
      operationId: createProduct
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDto'
      responses:
        '200':
          description: Product created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDto'

  /sapi/product/{id}:
    put:
      tags:
        - Products
      summary: Update product
      description: Updates a product
      operationId: updateProduct
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDto'
      responses:
        '200':
          description: Product updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDto'

    delete:
      tags:
        - Products
      summary: Delete product
      description: Deletes a product
      operationId: deleteProduct
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: Product deleted

  /sapi/product-category:
    get:
      tags:
        - Product Categories
      summary: List root categories
      description: Retrieves root level product categories
      operationId: listRootCategories
      security:
        - bearerAuth: []
      parameters:
        - name: deep
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: List of root categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductCategoryDto'

    post:
      tags:
        - Product Categories
      summary: Create category
      description: Creates a new product category
      operationId: createCategory
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCategoryDto'
      responses:
        '200':
          description: Category created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCategoryDto'

  /sapi/product-category/all:
    get:
      tags:
        - Product Categories
      summary: List all categories flat
      description: Retrieves all categories in a flat list
      operationId: listAllCategoriesFlat
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of all categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductCategoryDto'

  /sapi/product-category/{id}:
    get:
      tags:
        - Product Categories
      summary: Get category by ID
      description: Retrieves a specific category
      operationId: getCategory
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: deep
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Category details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCategoryDto'

    put:
      tags:
        - Product Categories
      summary: Update category
      description: Updates a product category
      operationId: updateCategory
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCategoryDto'
      responses:
        '200':
          description: Category updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCategoryDto'

    delete:
      tags:
        - Product Categories
      summary: Delete category
      description: Deletes a product category
      operationId: deleteCategory
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: Category deleted

  /api/stats/donation:
    get:
      tags:
        - Statistics
      summary: Get donation statistics
      description: Retrieves donation statistics from Open Collective
      operationId: getDonationStats
      responses:
        '200':
          description: Donation statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonationStatsDto'

  /sapi/stats/account:
    get:
      tags:
        - Statistics
      summary: Get account totals
      description: Retrieves totals for the authenticated account
      operationId: getAccountTotals
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Account totals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TotalsDto'

  /api/peppol-directory:
    get:
      tags:
        - Peppol Directory
      summary: Search Peppol Directory
      description: Searches the Peppol Directory by name or participant ID
      operationId: searchPeppolDirectory
      parameters:
        - name: name
          in: query
          schema:
            type: string
        - name: participant
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    DocumentDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        ownerPeppolId:
          type: string
        partnerPeppolId:
          type: string
        partnerName:
          type: string
        type:
          type: string
          enum: [INVOICE, CREDIT_NOTE]
        direction:
          type: string
          enum: [INCOMING, OUTGOING]
        status:
          type: string
        invoiceReference:
          type: string
        amount:
          type: number
          format: double
        currency:
          type: string
        issueDate:
          type: string
          format: date-time
        dueDate:
          type: string
          format: date-time
        paid:
          type: boolean
        read:
          type: boolean
        draft:
          type: boolean
        ublXml:
          type: string
        createdAt:
          type: string
          format: date-time
        sentAt:
          type: string
          format: date-time

    ValidationResultDto:
      type: object
      properties:
        valid:
          type: boolean
        errors:
          type: array
          items:
            type: string
        warnings:
          type: array
          items:
            type: string

    PageResponseDocumentDto:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/DocumentDto'
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
        last:
          type: boolean

    CompanyDto:
      type: object
      properties:
        peppolId:
          type: string
        vatNumber:
          type: string
        name:
          type: string
        street:
          type: string
        city:
          type: string
        postalCode:
          type: string
        country:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        website:
          type: string
        iban:
          type: string
        bic:
          type: string

    PartnerDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        peppolId:
          type: string
        name:
          type: string
        vatNumber:
          type: string
        street:
          type: string
        city:
          type: string
        postalCode:
          type: string
        country:
          type: string
        email:
          type: string
          format: email

    ProductDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
        price:
          type: number
          format: double
        unit:
          type: string
        sku:
          type: string
        categoryId:
          type: integer
          format: int64

    ProductCategoryDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        parentId:
          type: integer
          format: int64
        children:
          type: array
          items:
            $ref: '#/components/schemas/ProductCategoryDto'

    DonationStatsDto:
      type: object
      properties:
        totalDonations:
          type: number
          format: double
        currency:
          type: string
        donorCount:
          type: integer

    TotalsDto:
      type: object
      properties:
        totalInvoices:
          type: integer
        totalCreditNotes:
          type: integer
        totalAmount:
          type: number
          format: double
        totalPaid:
          type: number
          format: double
        totalUnpaid:
          type: number
          format: double
        currency:
          type: string
